.gate-card {
  display: flex !important;
}

.gate-card img {
  width: 75px !important;
}

.gate-card-name {
  padding: 0 !important;
  align-content: center !important;
  flex-grow: 1 !important;
}

.event-card {
  display: flex !important;
  flex: 1 1 0 !important;
  align-items: center !important;
}

.event-media {
  width: 100px !important;
}

.event-body {
  flex-grow: 1 !important;
}

.event-card img {
  /*width: 75px !important;*/
}

.event-badge {
  top: 2px !important;
  left: 2px !important;
  padding: 2px 5px !important;
}
